#container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 5px;
    background-color: #FFA366;
    padding-top: 30px;
    max-height: auto;
    overflow-y: auto;
}
.caja {
    width: 90%;
    height: auto;
    border: 3px solid black;
    color: black;
    margin: 0 auto;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.349);
    border-radius: 4px;
}
#cabeceraPublicacion {
    display: flex;
    flex-direction: column; /* Apilar los elementos verticalmente */
    align-items: center; /* Centrar horizontalmente */
  }
  #infoCabecera {
    width: 100%; /* Asegurarse que ocupe todo el ancho */
    display: flex;
    justify-content: space-between; /* Distribuir espacio entre los elementos */
  }
  #separadorCabecera {
    width: 95%; /* Ajustar según sea necesario */
    border-bottom: 3px solid black;
    margin-top: 5px; /* Espacio entre la información y el separador */
  }
#nUsuario{
    width: auto;
    height: auto;
    margin: 6px;
}
#fechaPublicacion{
    width: auto;
    height: auto;
    margin: 6px;
}
#publicacion{
    width: auto;
    height: auto;
}

#tituloPublicacion{
    font-size: 1.4rem;
    margin: 6px;
}
#separadorPublicacion {
    width: 95%; /* Ajustar según sea necesario */
    border-bottom: 3px solid black;
    margin-top: 5px; /* Espacio entre la información y el separador */
    margin: 0 auto;
  }
#textoPublicacion{
    margin: 6px;
}
button{
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    padding: 4px;
    background-color: rgb(62, 78, 107);
}

#contenedorBotones{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
